@import "./open-props.min.css";

:root {
  --OSdark: 0;
  --brand: color-mix(in lch, var(--pink-4), var(--orange-4));
  --main-gradient: var(--gradient-25);
  @media (prefers-color-scheme:dark) {
    --brand: color-mix(in lch, var(--violet-2), var(--pink-2));
    --main-gradient: var(--gradient-26);
  }
}

body {
  padding: var(--size-fluid-2);
}

.input-bar {
  display: flex;
  flex-direction: row;
  gap: var(--size-fluid-1);
}

.text-input {
  display: flex;
  resize: none;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding: var(--size-fluid-1);
  box-shadow: var(--shadow-1);
  border: var(--border-size-1) solid transparent;
  &:focus {
    outline: none !important;
    border-color: var(--surface-2);
  }
}

.text-send-icon {
  width: var(--font-size-fluid-1);
  height: var(--font-size-fluid-1);
  padding: var(--size-2);
  mask: url("./send-icon.svg");
  background-image: var(--main-gradient);
}

.text-send-button {
  border-radius: var(--radius-round);
  aspect-ratio: var(--ratio-square);
  height: 100%;

  /* border: var(--border-size-1) solid transparent; */
  padding: var(--size-2);
  box-shadow: var(--shadow-2);
  &:hover {
    box-shadow: var(--shadow-3);
  }
}

/* .text-input-submit-label { */
/*   position: relative; */
/*   display: flex; */
/*   background-color: white; */
/* } */

/* .text-input-submit-label:before { */
/*   color: white; */
/*   content: ""; */
/*   position: absolute; */
/*   top: 0; */
/*   bottom: 0; */
/*   width: var(--font-size-fluid-1); */
/*   background: url("./send-icon.svg"); */
/* } */
