@import "./open-props.min.css";

:root {
  --OSdark: 0;
  --brand: color-mix(in lch, var(--pink-4), var(--orange-4));
  --main-gradient: var(--gradient-25);
  --main-gradient-animation: gradient 5s ease infinite;
  @media (prefers-color-scheme: dark) {
    --brand: color-mix(in lch, var(--violet-2), var(--pink-2));
    --main-gradient: var(--gradient-26);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  padding: var(--size-fluid-2);
}

.input-bar {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: var(--size-fluid-1);
  padding: var(--size-fluid-1);
  box-shadow: var(--shadow-1);
  border: var(--border-size-1) solid var(--surface-2);
  border-radius: var(--radius-3);
  &:focus,
  &:hover {
    outline: none !important;
    border-color: var(--surface-3);
    box-shadow: var(--shadow-2);
  }
  transition-duration: 500ms;
  transition-timing-function: var(--ease-1);
  transition-property: border-color, box-shadow;
}

.text-input {
  display: flex;
  resize: none;
  overflow: scroll;
  width: 100%;
  max-width: 100%;
  max-height: 40vh;
  background-color: var(--surface-1);
  &:focus {
    outline: none !important;
  }
}

.text-send-icon {
  height: var(--size-1);
  aspect-ratio: var(--ratio-square);
  padding: var(--size-2);
  mask: url("./send-icon.svg");
  -webkit-mask: url("./send-icon.svg");
  background: var(--main-gradient);
  background-size: 400% 400%;
  animation: var(--main-gradient-animation);
}

.text-send-button {
  --button-border: var(--border-size-2);
  position: relative;
  background-color: var(--surface-1);
  background-clip: padding-box;
  border: var(--button-border) solid transparent;
  border-radius: var(--radius-round);
  aspect-ratio: var(--ratio-square);
  height: 100%;
  padding: var(--size-2);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: calc(0px - var(--button-border));
    border-radius: inherit;
    background: var(--main-gradient);
    background-size: 400% 400%;
    animation: var(--main-gradient-animation);
  }
  transition-duration: 500ms;
  transition-timing-function: var(--ease-1);
  transition-property: background, box-shadow;
}
