@import "open-props/normalize";
@import "open-props/style";

:root {
  --main-gradient-animation: gradient 5s ease infinite;

  /* Light theme */
  --text-1: color-mix(in lch, var(--pink-1), var(--orange-1));
  --brand: color-mix(in lch, var(--pink-4), var(--orange-4));
  --main-gradient: var(--gradient-25) var(--brand);

  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    --text-1: color-mix(in lch, var(--violet-1), var(--pink-1));
    --brand: color-mix(in lch, var(--violet-2), var(--pink-2));
    --main-gradient: var(--gradient-26) var(--brand);
  }
}

.App {
  padding: var(--size-fluid-2);
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ChatWindow {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chatHistory {
  display: flex;
  flex-direction: column;
  flex-grow: 8;
  overflow-y: scroll;
  gap: var(--size-2);
}

.ChatMessage {
  width: fit-content;
  max-width: 90%;
  border-radius: var(--radius-3);
  padding: var(--size-fluid-2);

  color: var(--surface-1);
  background: var(--main-gradient);
  background-size: 200% 200%;
  filter: brightness(85%);
}

.InputBar {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: var(--size-fluid-1);
  padding: var(--size-fluid-1);
  box-shadow: var(--shadow-1);
  border: var(--border-size-1) solid var(--surface-2);
  border-radius: var(--radius-3);
  &:focus,
  &:hover {
    outline: none !important;
    border-color: var(--surface-3);
    box-shadow: var(--shadow-2);
  }
  transition-duration: 500ms;
  transition-timing-function: var(--ease-1);
  transition-property: border-color, box-shadow;
}

.textInput {
  display: flex;
  resize: none;
  overflow: scroll;
  width: 100%;
  max-width: 100%;
  max-height: 40vh;
  background-color: var(--surface-1);
  &:focus {
    outline: none !important;
  }
}

.textSendIcon {
  --mask-url: url("./assets/send-icon.svg");
  height: var(--size-1);
  aspect-ratio: var(--ratio-square);
  padding: var(--size-2);
  mask: var(--mask-url);
  -webkit-mask: var(--mask-url);
  background-size: 400% 400%;
  animation: var(--main-gradient-animation);
  background-color: var(--surface-2);
}

.textSendButton:not([disabled]) > .textSendIcon {
  background: var(--main-gradient);
}

.textSendButton {
  --button-border: var(--border-size-2);
  position: relative;
  background-color: var(--surface-1);
  background-clip: padding-box;
  border: var(--button-border) solid transparent;
  border-radius: var(--radius-round);
  aspect-ratio: var(--ratio-square);
  height: "auto";
  padding: var(--size-2);
  box-shadow: var(--shadow-2);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: calc(0px - var(--button-border));
    border-radius: inherit;
    opacity: 1;
    background-size: 400% 400%;
    background: var(--main-gradient);
    animation: var(--main-gradient-animation);
    transition: opacity 500ms var(--ease-1);
  }
  &:disabled {
    box-shadow: unset;
    &:before {
      opacity: 0;
    }
  }
  transition-duration: 500ms;
  transition-delay: 300ms;
  transition-timing-function: var(--ease-1);
  transition-property: opacity, background, border, box-shadow;
}
