@import "open-props/normalize";
@import "open-props/style";
/* Pulling this from a CDN because of a bug:
* https://github.com/argyleink/open-props/issues/431#issue-1955952470 */
@import "https://unpkg.com/open-props/animations.min.css";

:root {
  /* Light theme */
  --user-color: var(--cyan-2);
  --ai-color: var(--violet-2);
  --ai-gradient: var(--gradient-26) var(--ai-color);

  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    --user-color: var(--cyan-9);
    --ai-color: var(--violet-9);
    --ai-gradient: var(--gradient-17) var(--ai-color);
  }

  /* Common */
  --brand: var(--ai-color);
  --ai-gradient-animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Make dark/light mode transition smooth */
html,
textarea {
  transition: background-color 500ms var(--ease-1);
}

.App {
  height: 100vh;
}
