pre {
  width: 100%;
  padding: var(--size-3);
  max-inline-size: unset;
}
code {
  position: relative;
  width: 100%;
  border-radius: var(--radius-2);
  &:hover > .copy-button:not(:focus) {
    opacity: 0.5;
  }
}

.copy-button {
  position: absolute;
  --padding: var(--size-1);
  right: calc(0% + var(--padding));
  top: calc(0% + var(--padding));
  height: var(--font-size-fluid-1);
  aspect-ratio: var(--ratio-square);
  width: auto;
  border: var(--border-size-1) solid var(--surface-2);
  background-color: var(--text-1);
  opacity: 0;
  --mask-url: url("../assets/copy-icon.svg");
  mask: var(--mask-url);
  -webkit-mask: var(--mask-url);
  transition: all 0.3s var(--ease-1);
  &:active,
  &:focus {
    animation: var(--animation-pulse);
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    outline: none;
    opacity: 1;
  }
}

.chat-message {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 80%;
  border-radius: var(--radius-3);
  padding: var(--size-fluid-2);
  /* fixes a positioning bug in iOS Safari */
  transform: translateZ(0);

  background-size: 400% 400%;

  &.ai {
    background-color: var(--ai-color);
    animation: var(--animation-slide-in-right);
  }
  &.user {
    background-color: var(--user-color);
    animation: var(--animation-slide-in-left);
    margin-left: auto;
  }
  animation-duration: 800ms;
}
