/* TODO: refactor so hljs outputs a custom component */
pre {
  width: 100%;
  padding: var(--size-3);
  max-inline-size: unset;
}
code {
  width: 100%;
  border-radius: var(--radius-2);
}

.chat-message {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 80%;
  border-radius: var(--radius-3);
  padding: var(--size-fluid-2);
  /* fixes a positioning bug in iOS Safari */
  transform: translateZ(0);

  background-size: 400% 400%;

  &.ai {
    background-color: var(--ai-color);
    animation: var(--animation-slide-in-right);
  }
  &.user {
    background-color: var(--user-color);
    animation: var(--animation-slide-in-left);
    margin-left: auto;
  }
  animation-duration: 800ms;
}
