.profile-select {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: start;
  justify-content: center;
  height: 100%;
  width: fit-content;
}

.profile {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
}

