:root {
  --transition: all 0.3s var(--ease-1);
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  overflow-x: visible;
}

.side-bar {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: var(--size-1);
  flex-basis: 100%;
  background-color: var(--surface-2);
  height: 100%;
  width: 0;
  overflow-x: hidden;
  &.open {
    padding: var(--size-fluid-1);
    width: 20vw;
    animation: var(--animation-slide-in-right);
    animation-duration: 0.3s;
  }
  transition: var(--transition);
}

.threads-header {
  font-size: var(--font-size-fluid-1);
  padding-bottom: var(--size-2);
}

.thread {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-2);
  width: 100%;
  padding: var(--size-1);
  white-space: nowrap;
  border-radius: var(--radius-2);
  cursor: pointer;
  &:hover {
    background-color: var(--surface-3);
  }
  &.selected {
    background-color: var(--surface-3);
  }
  transition: var(--transition);
}

.thread-icon {
  --size: var(--font-size-2);
  display: inline-block;
  height: var(--size);
  width: var(--size);
  aspect-ratio: var(--ratio-square);
}

.side-bar-button {
  --size: var(--font-size-fluid-2);
  position: absolute;
  z-index: 99;
  height: var(--size);
  aspect-ratio: var(--ratio-square);
  background-color: transparent;
  top: 0%;
  left: 100%;
  &.open {
    left: calc(100% - var(--size));
    top: calc(0% + var(--size-2));

  }
  transition: var(--transition);
}

.side-bar-icon {
  height: 100%;
  aspect-ratio: var(--ratio-square);
  stroke-width: var(--border-size-2);
  transition: var(--transition);
}

.side-bar-button.open > .side-bar-icon > path {
  d: path("M6 18L18 6M6 6l12 12");
  transition: var(--transition);
}
